<script>
  function getSelectValue()
  {
      var selectedValue = document.getElementById("list").value;
      console.log(selectedValue);
  }
  getSelectValue();

</script>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="text-center text-lg-start mt-4 pt-2">
  <h1>Autogendamento</h1>
  <h1>Bem vindo(a), {{nome}}</h1>
  <h5>Nascimento:  {{data_nasc}} <h5>
  <h5>Idade: {{idade}} anos <h5>
  <h5> CPF : {{cpf}}<h5>
  <input type="submit" value="SAIR" />
  <br><br><br><br>
  <form action="" method="POST">
    {% csrf_token %} 
    <p>Selecione uma unidade</p>
    <select  name="unidade">
      {% for nome_unid, cod_unid in unidades %}
      <option name="{{ cod_unid }}" value="{{ cod_unid }}"> {{ cod_unid }} - {{ nome_unid }} </option>    
   {% endfor %}


    </select>
    <br><br>
    <p>Selecione um horario</p>
    <input type="datetime-local" name='data' >
    <input type="submit" value="AGENDAR" />
  </form>




</div>
