<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="text-center text-lg-start mt-4 pt-2">
  <h1>Autocadastro</h1>

  <form action="" method="post">
    {% csrf_token %} <!-- {{ form }} -->
    <input type="text" placeholder="Nome Completo" name="nome"> </imput>
    <input type="number" placeholder="CPF Apenas Números" name="cpf" maxlength="11"> </imput>
    <input type="date" placeholder="Data Nascimento" name="data_nasc"> </imput>
    <input type="password" placeholder="Senha" name="senha"> </imput>
    <input type="password" placeholder="Confirma Senha" name="senha2"> </imput>
    <input type="submit"  value="CADASTRAR" />
  </form>
</div>
